@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

html {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    padding-bottom: 52px;
    position: relative;
}

header img {
    height: 62px;
}

h1 {
    font-family: "Lobster", cursive;
    margin-left: 0.5em;
    color: #F86809;
}

h2 {
    color: #F86809;
}

h3 {
    color: #F86809;
}

a {
    color: green;
}

a:hover {
    color: green;
}

/*Header*/

header div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Nav Horizontal */

nav.encabezado {
	border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 3px 0;
}

nav.encabezado .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.encabezado .container::before, nav.encabezado .container::after {
    content: none;
}

nav.encabezado .container .derecha {
    display: flex;
    align-items: center;
}

nav.encabezado .derecha form {
    display: flex;
}

nav.encabezado .derecha > button {
    margin-left: 0.5em;
}

#boton-carro {
    margin-left: 0.5em;
}

/* Nav vertical */
#menu ul li{
	list-style-type: none;
    margin-bottom: 0.5em;
}

#menu .activo a {
    color: #F86809;
}

/* Contenido */

.principal {
    margin-top: 20px;
}
/* Productos */

.producto-contenedor {
    margin-top: 1em;
}

.producto-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto-descripcion {
    text-align: center;
}

.producto-descripcion h3 {
    font-size: 14px;
    height: 1.75em;
}

.producto-precio {
    color: gray;
    margin-bottom: 4px;
}

.producto-agregar {
    display: flex;
    justify-content: center;
}

.producto-agregar button {
    border: 1px lightgray solid;
}

.producto-agregar button:hover{
    border-color: orange;
}

.producto-agregar button:active{
    background-color: gray;
}

.producto-agregar button:first-of-type {
    border-radius: 4px 0  0 4px;
}

.producto-agregar button:last-of-type {
    border-radius: 0 4px  4px 0px;
}

.producto-agregar input {
    max-width: 30%;
    text-align: center;
}

.principal nav.paginador {
    text-align: center;
    margin-top: 1em;
}

/* Carro */

h2 + .compra-contenedor {
    margin-top: 1.5em;
}

.compra-contenedor {
    display: flex;
}

.compra-contenedor + .compra-contenedor {
    margin-top: 0.5em;
}

.compra-nombreProducto {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.compra-modificar {
    display: flex;
}

.compra-modificar input {
    max-width: 3em;
    text-align: center;

}

.compra-modificar button {
    background-color: transparent;
    border: 1px lightgray solid;
}

.compra-modificar button:hover {
    border-color: orange;
}

.compra-modificar button:active {
    background-color: gray;
    color: white;
} 

.compra-modificar button:last-of-type {
    border-radius: 0 4px 4px 0px;
    margin-left: 0.25em;
}

.compra-modificar button:first-of-type {
    border-radius: 4px 0px 0px 4px;
    margin-left: 0.25em;
}

.compra-total {
    flex-basis: 5em;
    text-align: right;
    align-self: center; 
}

.compra-total:before {
    content: "$";
    
}

.totales {
    margin-top: 1em;
}

.totales-subtotal {
    display: flex;
    justify-content: flex-end;
}

.totales-subtotal .totales-cifra {
    flex-basis: 5em;
    text-align: right;
}

.totales-subtotal .totales-cifra:before {
    content: "$"
}

#compra-total {
    font-weight: bold;
}

/* Regístrate */

.registrate {
    margin-top: 1em;
}

.registrate .row {
    text-align: center;
    margin-top: 3em;
}

/* Footer */

footer {
    border-top: 1px solid green;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container::before, footer .container::after {
    content: none;
}

footer ul {
    margin-bottom: 0;
}

@media all and (max-width: 767px) {
    footer .container {
        flex-direction: column;
    }
    footer ul:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer ul:last-of-type {
        margin-top: 8px;
    }

}

@media all and (max-width: 320px) {
    #busqueda {
        max-width: 7em;
    }
}